<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title%}My Website{% endblock %}</title>
    <style>
        body {font-family: Arial, Helvetica, sans-serif; padding: 20px;}
        header {background:#333 ; color: aliceblue; padding: 10px;}
        footer {background:gray ; color: aliceblue; margin-top: 10px;}
    </style>
</head>
<body>
    <header>
        <h2>My website</h2>
        <nav>
            <a href="/">home</a>
            <a href="/about">about</a>
        </nav>
    </header>
    {%block content%}
    {%endblock%}
    <footer>
        <p>@2025 Rohan Chiuhan is the best coder</p>
    </footer>
</body>
</html>